version: '3.7'

services:

     angular:
          hostname: 192.168.1.125
          build: front-end
          ports:
               - "4202:4200"
     general:
          build: back-end/general
          volumes:
               - "/home/controller/factor-DC/kubeconfig/GlobalOpenRepo/back-end/warehouse/:/GlobalOpenRepo/warehouse"
          ports:
               - "3002:3000"
     charts:
          build: back-end/charts
          volumes:
               - "/home/controller/factor-DC/kubeconfig/GlobalOpenRepo/back-end/warehouse/:/GlobalOpenRepo/warehouse"
          ports:
               - "3004:80"
     database:
         image: mongo
         volumes:
               - "/home/controller/factor-DC/kubeconfig/GlobalOpenRepo/back-end/database/:/data/db"
         ports:
              Â- "27018:27017"     
